<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MiniDeluxe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MiniDeluxe.Properties.Settings>
            <setting name="SerialPort" serializeAs="String">
                <value />
            </setting>
            <setting name="SerialPortIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>7809</value>
            </setting>
            <setting name="LowInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="HighInterval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </MiniDeluxe.Properties.Settings>
    </userSettings>
</configuration>